<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<h1>Add New Game</h1>

<form method="POST" action="/games/">
	<input type="text" name="name">
	<button>Add Game</button>
</form>
</body>
</html>