<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<h1>Add New Game</h1>
<br>
<form method="POST" action="/games/">
	Name: <input type="text" name="name"><br>
	Platform: <input type="text" name="platform"><br>
	Rated: <input type="text" name="rated"><br>
	<button>Add Game</button>
</form>
</body>
</html>